@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    /* COLORES */
    --dark-bg-color: rgb(33, 37, 41);
    --dark-font-color: rgb(222, 226, 230);
    --bg-primary: orangered;
    --bg-secondary: darkorange;
    --bg-tertiary: orange;
    /* ESPACIADO INTERNO */
    --padding-x: 3rem;
    --padding-y: 1.5rem;
    /* ESPACIADO EXTERNO */
    --margin-x: 3rem;
    --margin-y: 1.5rem;
    /* FUENTES */
    --fs-menu-responsive: 1.25rem;
    --fc-primary: black;
    --fc-secondary: white;
    --fc-tertiary: crimson;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Roboto';
    line-height: 1.5rem;
    scroll-margin-top: 5rem;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

header {
    position: sticky;
    top: 0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15),
        inset 0 -1px 0 rgba(255, 255, 255, 0.15);
    z-index: 1024;
}

footer {
    position: relative;
    z-index: 1023;
}

header,
footer {
    color: white;
    background-color: var(--bg-primary);
}

html[data-tema-actual=dark] header,
html[data-tema-actual=dark] footer {
    color: var(--dark-bg-color) !important;
}

p {
    text-align: justify;
    margin-top: 0;
    padding-bottom: 1rem;
}

hr {
    border: 1px solid;
}

.menu {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: calc(var(--padding-y) * .5);
    padding-bottom: calc(var(--padding-y) * .5);
}

.contenido-principal {
    display: grid;
    margin-top: calc(var(--margin-x) * .5);
    margin-bottom: calc(var(--margin-x) * .5);
    padding-left: calc(var(--padding-y) * 1.5);
    padding-right: calc(var(--padding-y) * 1.5);
}

.contenedor,
.contenedor-fluido {
    width: 100%;
    margin: auto;
}

.contenedor-fluido {
    padding-left: calc(var(--padding-x) * .5);
    padding-right: calc(var(--padding-x) * .5);
}

.menu>.contenedor-fluido {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

.menu-colapsar {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex-grow: 1;
}

.menu-marca {
    color: inherit;
    text-decoration: none;
    font-size: var(--fs-menu-responsive);
    padding: .5rem 0;
    margin-right: 1rem;
}

.btn-menu {
    padding: .25rem .75rem;
    font-size: var(--fs-menu-responsive);
    line-height: 1;
    color: inherit;
    background-color: transparent;
    border: 2px solid var(--bg-tertiary);
    border-radius: 0.375rem;
}

.menu-contenido {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-right: auto;
}

.menu-link {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 0.5rem 0;
}

.contenido-footer {
    padding: 1rem 0;
    text-align: center;
}

.contenido-lateral {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

[type=button],
[type=reset],
[type=submit]:not(:disabled) {
    cursor: pointer;
}

[data-tema-actual=dark] {
    color-scheme: dark;
    color: var(--dark-font-color) !important;
    background-color: var(--dark-bg-color) !important;
}

.menu-link:hover {
    text-decoration: underline;
}

/* BREAK POINTS */
@media screen and (min-width: 576px) {
    .contenedor {
        max-width: 540px;
    }
}

@media screen and (min-width: 768px) {
    .contenedor {
        max-width: 720px;
    }
}

@media screen and (min-width: 992px) {
    .btn-menu {
        display: none;
    }

    .menu-colapsar {
        flex-direction: row;
        flex-basis: auto;
    }

    .menu-contenido {
        flex-direction: row;
    }

    .menu-link {
        padding-left: calc(var(--padding-x) * .25);
        padding-right: calc(var(--padding-x) * .25);
    }

    .contenedor {
        max-width: 960px;
    }

    .contenido-principal {
        grid-template-areas: "main aside";
        grid-template-columns: 8fr 2fr;
        grid-gap: 1.5rem;
    }

    aside {
        position: sticky;
        top: 5rem;
        height: calc(100vh - 7rem);
        overflow-y: auto;
        z-index: 512;
    }

    .contenido-lateral * {
        text-align: left;
    }
}

@media screen and (min-width: 1200px) {
    .contenedor {
        max-width: 1140px;
    }
}

@media screen and (max-width: 768px) {
    .contenedor-fluido {
        padding-left: calc(var(--padding-x) * .25);
        padding-right: calc(var(--padding-x) * .25);
    }

    .contenido-principal {
        padding-left: calc(var(--padding-x) * .5);
        padding-right: calc(var(--padding-x) * .5);
    }
}

@media screen and (max-width: 992px) {
    .menu-colapsar:not(.mostrar) {
        display: none;
    }
}